#signincontainer{
    top: 15px;
    border: 3px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    width: 48rem;
    height: 18rem;
    font-weight: bold;
    border-color: #3CA45C;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    border-style: solid solid solid solid;
}

#emailbox{
    justify-content: flex-start;
    top: 1rem;
    left:0.6rem;
    border: 0 px;
    width: 10rem;
    height:1rem;
    font-weight: bold;
    background-color: #B3DEA5;
    position: relative;
}


#emailname{
        top:0.5rem;
        color: #FFFFFF;
        font-size: 1rem;
        font-weight: 750;
}

#inputemailcontainer{
        display: flex;
        justify-content: center;
        align-items: center;
        top: 2rem;
        position: relative;
}

#passwordbox{
    justify-content: flex-start;
    top: 4rem;
    left:0.6rem;
    border: 0 px;
    width: 45rem;
    height:1rem;
    font-weight: bold;
    background-color: #B3DEA5;
    position: relative;
}


#passwordname{
        top:0.5rem;
        color: #FFFFFF;
        font-size: 1rem;
        font-weight: 750;
}

#inputpwcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5rem;
    position: relative;
}

#email,#password{
    outline: none;
    border-style: none;
    border-radius: 5%;
}

#email,#password:focus{
    outline: none;
}


#forgetpwbox{
    justify-content: flex-start;
    top: 6rem;
    left:0.6rem;
    border: 0 px;
    width: 45rem;
    height:1rem;
    font-weight: bold;
   
    background-color: #B3DEA5;
    position: relative;
}

#forgetpw{
    font-size: 1rem;
    font-weight: 700;
  
  
}


#loginbuttoncontainer{
    top:7.2rem;
    border: 0px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    height: 3.3rem;
    font-weight: bold;
    background-color: #B3DEA5;
    position: relative;
}

input[type="button"] {
    font-size: 1rem;
    box-shadow: none;
    font-weight: 900;
    box-shadow: none;
    width: 8rem;
    height: 2rem;
    left: 5rem;
    border:0;
    background-color: #2D920A;
    text-align: center;
    line-height: 1rem;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-decoration: none;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    outline: none; 
}

input:hover, input:focus {
box-shadow: 0 3px 7px 1px rgba(50, 50, 50, 0.25);
border:0;
}