/* 我把name、email、password、confirmpassword個做成一格，在拼起來*/
/* 這邊是name那一格的css*/
#containName{
        top: 15px;
        border: 3px;
        border-style: solid;
        margin-left: auto;
        margin-right: auto;
        width: 48rem;
        height: 7.5rem;
        font-weight: bold;
        border-color: #3CA45C;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: flex-start;
        border-style: solid solid dashed solid;
        border-bottom-width:thin;
}

#namebox{
justify-content: flex-start;
top: 0.5rem;
left:0.5rem;
border: 0 px;
width: 16rem;
height:6rem;
font-weight: bold;
background-color: #3CA45C;
position: relative;
}

#namechinese{
        font-family: sans-serif;
        font: Source;
        font-weight: 900;
        font-size: 30px;
        color: white;
        text-align: center;
        padding: 12%;
        line-height: 1rem;
}


#inputname{
        justify-content: flex-start;
        margin-top: 2.5rem;
        margin-left: 3rem;
}


/* 這邊是email那一格的css*/
#containemail{
        top: 15px;
        border: 3px;
        border-style: solid;
        margin-left: auto;
        margin-right: auto;
        width: 48rem;
        height: 7.5rem;
        font-weight: bold;
        border-color: #3CA45C;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: flex-start;
        border-style: none solid dashed solid;
        border-bottom-width:thin;
}

#emailbox{
justify-content: flex-start;
top: 0.5rem;
left:0.5rem;
border: 0 px;
width: 16rem;
height:6rem;
font-weight: bold;
background-color: #3CA45C;
position: relative;
}

#emailchinese{
        font-family: sans-serif;
        font: Source;
        font-weight: 900;
        font-size: 30px;
        color: white;
        text-align: center;
        padding: 12%;
        line-height: 1rem;
}

#inputemail{
        justify-content: flex-start;
        margin-top: 2.5rem;
        margin-left: 3rem;
}


/* 這邊是password那一格的css*/
#containpw{
top: 15px;
border: 3px;
border-style: solid;
margin-left: auto;
margin-right: auto;
width: 48rem;
height: 7.5rem;
font-weight: bold;
border-color: #3CA45C;
position: relative;
display: flex;
flex-direction: row;
align-items: stretch;
justify-content: flex-start;
border-style: none solid dashed solid;
border-bottom-width:thin;
}

#pwbox{
justify-content: flex-start;
top: 0.5rem;
left:0.5rem;
border: 0 px;
width: 18.25rem;
height:6rem;
font-weight: bold;
background-color: #3CA45C;
position: relative;
}

#pwchinese{
font-family: sans-serif;
font: Source;
font-weight: 900;
font-size: 30px;
color: white;
text-align: center;
padding: 12%;
line-height: 1rem;
}

#inputpw{
justify-content: flex-start;
margin-top: 1rem;
margin-left: 3rem;
}

#editpws{
    text-decoration: underline;

}


/* 這邊是點數那一格的css*/
#containpoints{
        top: 15px;
        border: 3px;
        border-style: solid;
        margin-left: auto;
        margin-right: auto;
        width: 48rem;
        height: 7.5rem;
        font-weight: bold;
        border-color: #3CA45C;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: flex-start;
        border-style: none solid dashed solid;
        border-bottom-width:thin;
}

#pointsbox{
        justify-content: flex-start;
        top: 0.5rem;
        left:0.5rem;
        border: 0 px;
        width: 16rem;
        height:6rem;
        font-weight: bold;
        background-color: #3CA45C;
        position: relative;
}

#pointschinese{
        font-family: sans-serif;
        font: Source;
        font-weight: 900;
        font-size: 27px;
        color: white;
        text-align: center;
        padding: 12%;
        line-height: 1rem;
}


#inputpoints{
        justify-content: flex-start;
        margin-top: 2.5rem;
        margin-left: 3rem;
}

/*更新按鈕 */
#renewbuttoncontainer{
                top:3rem;
                border: 0px;
                border-style: solid;
                margin-left: auto;
                margin-right: auto;
                width: 48rem;
                height: 6rem;
                font-weight: bold;
                background-color: #B3DEA5;
                position: relative;
}

input[type="button"] {
                border-radius: 2.5%;
                font-size: 1rem;
                box-shadow: none;
                font-weight: 900;
                box-shadow: none;
                width: 16rem;
                height: 3rem;
                left: 5rem;
                border:0;
                background-color: #3CA45C;
                text-align: center;
                line-height: 3rem;
                color: white;
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                text-decoration: none;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                outline: none; 
}

input:hover, input:focus {
        box-shadow: 0 3px 7px 1px rgba(50, 50, 50, 0.25);
        border:0;
}


#name, #email,#pw,#address,#points{
        outline: none;
        border-style: none;
        border-radius: 5%;
}

#name, #email,#pw,#address,#points:focus{
        outline: none;
}